<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
  <p>Give numbers for arraylist to the first box.</p>
  <p>Give two numbers to the second box.</p>
  <p>First will be for searched value and second will be for how many times it exists.</p>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
